.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.mr2{
  margin-right: 2%;
}

.mb2{
  margin-bottom: 2%;
}

.App-link {
  color: #61dafb;
}

.spacebetween{
  justify-content: space-between;
}
.justcenter{
  justify-content: center;
}
.lit1{
  width: 30%;
}
.lit4{
  width: 14%;
}

.duf{
  font-size: 10px;
}

.flex{
  display: flex;
}

.p20{
  padding: 20px !important;
}

.width{
  width: 100%;
}

.p10{
  padding: 10px !important;
}

.width40{
  width: 35%;
}
.topping{
  top: 30%;
  left: 30%;
  position: absolute;
}

.aligncenter{
  align-items: center;
}
.column{
  flex-direction: column;
}
.row{
  flex-direction: row;
}

.mb10{
  margin-bottom: 10% !important;
}

.mb5{
  margin-bottom: 5% !important;
}

.ti{
  text-decoration: none;
  color: inherit;
}
.halfwidth{
  width: 50%;
}

.vertical-center1 {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 33%;
  text-align: center;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  text-align: center;
}

.width20{
  width: 20%;
}

.width10{
  width: 10%;
}

/*Strating new designs */
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper, .css-22u6wc .MuiDrawer-paper{
  height: 100% !important;
}
.css-22u6wc .MuiDrawer-paper {
  width: 220px !important;
  box-sizing: border-box;
}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper, .css-22u6wc .MuiDrawer-paper{
  top: 18% !important;
  left: 2% !important;
  border-radius: 18px !important;
  background: #141318 !important;
}
.css-49ifcl-MuiPaper-root-MuiAppBar-root, .MuiAppBar-root{
  width: 96.5% !important;
  top: 20px !important;
  left: 23px !important;
  margin-left: 0 !important;
  right: 23px !important;
  border-radius: 18px !important;
  background-color:#141318 !important;
}
body, .css-1jmjcem{
  background-color: #0E0D12 !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root, .MuiInputLabel-root{
  color:#606060 !important;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root, .MuiOutlinedInput-root{
  color:#606060 !important;
  border: none !important;
  border-radius: 0 !important;
}
.fi1{
  border-radius: 28px !important;
  background: #0E0D12 !important;
  color:#606060 !important;
  height: 31px !important;
  padding: 5px 4px !important;
}
.fi1 input{
  padding: 5px 4px !important;
  height: 0.8em !important;
}
.fi1 label{
  font-size: 0.7rem !important;
  line-height: 0.9em !important;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused, .MuiInputLabel-root.Mui-focused{
  color: #606060 !important;;
}
.icon-noti{
  height: 31px;
  width: 31px;
  top: 51px;
  background: #0E0D12;
  display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.profile1{
  width: 180px !important;
height: 41px !important;
opacity: 0px;
justify-content: center;
align-items: center;
}
.tit{
  margin-right: 79px !important;
  margin-left: 30px !important;
}
.profile-icon1{
  width: 33px !important;
  height: 33px !important;
  border-radius: 28px !important;
  border: 1px solid #358FE5 !important;
  margin-right: 10px;
}
.profile1-icon{
  width: 33px !important;
  height: 33px !important;
  border-radius: 28px !important;
  border: 1px solid #358FE5 !important;
  margin-right: 10px;
}
.profile-text1{
  color: #FFFFFF !important;
  font-weight: 300 !important;
  font-size: 16px !important;
}
.css-1f2xuhi-MuiDrawer-docked .MuiDrawer-paper{
  background: #141318 !important;
  width: 220px !important;
}
.ti span{
  color: #606060 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 19.2px !important;
}
.mb20{
  margin-bottom: 12%;
}
.others{
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 19.2px !important;
  color: #FFFFFF !important;
  margin-left: 20px !important;
}
.css-cveggr-MuiListItemIcon-root{
  min-width: 36px !important;
}
.mi label{
  color: #FFFFFF !important;
}
.mi{
  border-radius: 8px !important;
  border: 1px solid #333237 !important;
}
.mi input{
  padding: 14.5px 10px !important;
}
.mi .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  color: #FFFFFF !important;
}
.mi-button{
  background: #9A86E8 !important;
  border-radius: 10px !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  text-transform: none !important;
}
.alignbase{
  align-items: baseline;
}
a{
  text-decoration: none;
  color: inherit;
}
.mi2{
  background: #8E4FF7 !important;
  border-radius: 8px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  text-transform: none !important;
  padding: 10px !important;
  width: 178px !important;
  height: 38px !important;
  margin-right: 28px !important;
}
.mi3{
  background: #8E4FF7 !important;
  border-radius: 8px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  text-transform: none !important;
  padding: 10px !important;
  width: 100% !important;
  height: 38px !important;
  margin-right: 28px !important;
}
input.Mui-focused{
  border: none !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:focus{
  border: none !important;
}
.spacearound{
  justify-content: space-around !important;
}
.mbmain{
  margin-top: 2.1%;
}
.mb4{
  margin-bottom: 3%;
}
.inv{
  border-radius: 18px !important;
  background: #141318 !important;
}
.inv-header{
  font-size: 30px;
  font-weight: 400;
  line-height: 31px;
  color: #FFFFFF;
  margin-left: 33px !important;
  margin-bottom: 3% !important;
}
.pip p {
  color: #BDBDBD !important;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
}
/*.dip{
  background: #0E0D12 !important;
}*/
.css-46bh2p-MuiCardContent-root:last-child, .css-1qw96cp:last-child{
  padding-bottom: 8px !important;
}
.css-46bh2p-MuiCardContent-root, .css-1qw96cp{
  padding: 8px !important;
}

.pay{
  background: #FFFFFF !important;
  border-radius: 8px !important;
  color: #0E0D12 !important;
}
.dip{
  border-radius: 12px !important;
  background: #0E0D12 !important;
  color: #BDBDBD !important;
}

.mat1{
  width: 38%;
  height: 255px;
  overflow-x: hidden;
  overflow-y: auto;
}

.wal1{
  width: 71%;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

.wal2{
  width: 27%;
  height: 290px;
  justify-content: space-between;
}

.pt5{
  padding-top: 5%;
}
.pr5{
  padding-right: 5%;
}
.pl5{
  padding-left: 5%;
}
.pb2{
  padding-bottom: 2%;
}
.wal3{
  width: 100%;
  height: 190px;
}

.wal4{
  width: 100%;
  height: 92px;
}

.ash1{
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #606060;
}
.ash{
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #606060;
}

.aligncenter{
  align-items: center;
}

.mat2{
  width: 25%;
  height: 250px;
}

.mat3{
  width: 34%;
  height: 250px;
}
.mat3-div{
  height: 48px;
  align-items: center;
  justify-content: center;
  margin-bottom: 1% !important;
}

.p5{
  padding: 5%;
}

.css-1i9yb4d{
  border-radius: 12px !important;
}
.fot label{
  color: #49484B !important;
}
.fot .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  color: #49484B !important;
}

.fot input, .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
  background: #0D0C11 !important;
  border: 1px solid #262626 !important;
  border-radius: 8px !important;
  color: #BDBDBD !important;
}

.ash{
  color: #D0D0D0 !important;
  margin-left: 2% !important;
}

.cen-header{
  font-size: 30px;
  font-weight: 400;
  line-height: 31px;
  color: #FFFFFF;
  margin-bottom: 3% !important;
}
.mt5{
  margin-top: 5%;
}

.shim{
  font-weight: 300 !important;
  font-size: 28px !important;
  line-height: 29px !important;
  color: #FFFFFF;
}

.css-1b587mz {
  width: 96.5% !important;
  top: 20px !important;
  left: 23px !important;
  margin-left: 0 !important;
  right: 23px !important;
  border-radius: 18px !important;
  background-color: #141318 !important;
}

.tb3{
  height: 54px !important;
  border-radius: 12px !important;
  background-color: #0E0D12 !important;
  width: 50% !important;
  max-width: 50% !important;
  color: #FFFFFF !important;
}

.tb1{
  width: 100%;
}

path{stroke: transparent};

.p10{
  padding: 10%;
}

.css-heg063-MuiTabs-flexContainer, .MuiTabs-flexContainer{
  display: flex !important;
  justify-content: space-between !important;
  width: 100% !important;
}

.css-1aquho2-MuiTabs-indicator, .MuiTabs-indicator{
  background-color: transparent !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected, .MuiTab-root.Mui-selected{
  color: #FFFFFF !important;
  background-color: #8E4FF7 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
