.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.mr2{
  margin-right: 2%;
}

.mb2{
  margin-bottom: 2%;
}

.App-link {
  color: #61dafb;
}

.spacebetween{
  justify-content: space-between;
}
.justcenter{
  justify-content: center;
}
.lit1{
  width: 30%;
}
.lit4{
  width: 14%;
}

.flex{
  display: flex;
}

.p20{
  padding: 20px !important;
}

.width{
  width: 100%;
}
.topping{
  top: 30%;
  left: 30%;
  position: absolute;
}

.aligncenter{
  align-items: center;
}
.column{
  flex-direction: column;
}
.row{
  flex-direction: row;
}

.mb10{
  margin-bottom: 10% !important;
}

.mb5{
  margin-bottom: 5% !important;
}

.ti{
  text-decoration: none;
  color: inherit;
}
.halfwidth{
  width: 50%;
}

.vertical-center1 {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 33%;
  text-align: center;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  text-align: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
